@page "{score}"
@model Learning.Pages.ResultModel
@{
    ViewData["Title"] = "Xem điểm";
}
<div>
    <p class="display-3">
        Tên: @Model.UserName
        Lớp: @Model.Class
        Điểm: @Model.point
    </p>
</div>
